#___Segurança___
DB_DATABASE=vba_baas
DB_USERNAME=baas
DB_PASSWORD=baas

CREDENTIALS_ENCRYPTION_KEY=troque por uma chave hex de caracteres. # Gerar com: openssl rand -hex 32
JWT_SECRET= coloque uma senha forte
JWT_EXPIRES_IN=24h

LERA_BOX_BASE_URL=https://api.branchpay.com.br/api
LERA_BOX_WEBHOOK_SECRET= se houver adicione aqui, se não houver deixe em branco

#___URL Base para Webhook___
PUBLIC_BASE_URL=http://localhost:3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seuemail@gmail.com
SMTP_PASSWORD=xxxx xxxx xxxx xxxx
SMTP_FROM=seuemail@gmail.com

#___Seed de demonstração (opcional) usado por "npm run seed:demo"___
DEMO_USER_NAME=
DEMO_USER_EMAIL=
DEMO_USER_PASSWORD=

#___Preencha os 5 campos abaixo para ter uma conta ja cadastrada___
DEMO_GATEWAY_PERSON_TYPE=
DEMO_GATEWAY_DOCUMENT=
DEMO_GATEWAY_PASSWORD=
DEMO_GATEWAY_EMAIL=
DEMO_GATEWAY_PHONE=